<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!-- Impostazioni generali -->
    <property name="severity" value="error"/>

    <!-- Header -->
    <module name="Header">
        <property name="headerFile" value="java.header"/>
    </module>

    <!-- Modulo per la lunghezza del file -->
    <module name="FileLength">
        <property name="max" value="1000"/>
    </module>

    <!-- Modulo per la lunghezza della linea -->
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package|^import"/>
    </module>

    <!-- Modulo per i caratteri di tabulazione nei file -->
    <module name="FileTabCharacter">
        <property name="severity" value="error"/>
    </module>

    <module name="TreeWalker">
        <!-- Modulo per la complessità delle espressioni booleane -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>

        <!-- Modulo per la complessità ciclomatica -->
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>

        <!-- Modulo per la lunghezza del metodo -->
        <module name="MethodLength">
            <property name="max" value="80"/>
        </module>

        <!-- Modulo per il blocco catch vuoto -->
        <module name="EmptyCatchBlock">
            <property name="severity" value="error"/>
        </module>

        <!-- Modulo per evitare gli import con "*" -->
        <module name="AvoidStarImport">
            <property name="severity" value="error"/>
        </module>

        <!-- Modulo per gli import illegali -->
        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.io, java.sql"/>
        </module>

        <!-- Modulo per richiedere le parentesi nei blocchi condizionali -->
        <module name="NeedBraces">
            <property name="severity" value="error"/>
        </module>
    </module>
</module>